/* ANIMATIONS */
.zoom-out-animation {
    animation: zoom-out 0.5s linear;
}

.fade-out {
    animation: fadeOut 0.5s;
    opacity: 0;
}

.pulse-animation {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoom-out {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.5);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}