<button disabled class="btn btn-{{ type }}">
    <twig:c975LSite:Image:Icon src="bundles/c975lshop/images/face-smile-wink.svg" width="24" height="24"/> {{ 'label.crowdfunding_ended'|trans({}, 'shop') }}
</button>