{# <twig:c975LShop:Basket:ProductAddRemoveButtons productItem="{{ productItem }}"/> #}
<div class="quantity-controls">
    <twig:c975LShop:ProductItem:DeleteButton productItem="{{ productItem }}"/>
    <twig:c975LShop:ProductItem:RemoveOneButton productItem="{{ productItem }}"/>
    <twig:c975LShop:ProductItem:AddOneButton productItem="{{ productItem }}"/>
</div>
