{# <twig:c975LShop:Basket:DeleteProductLink product="{{ product }}"/> #}
<p class="text-center delete-link" data-action="click->basket#deleteProduct" data-productId="{{ product.id }}"><twig:c975LSite:Image:Icon src="bundles/c975lshop/images/trash-can.svg" width="20" height="20"/></p>