{# <twig:c975LShop:Basket:DeleteLink quantity="{{ basket.quantity }}"/> #}
{% if quantity > 0 %}
    <p class="text-center delete-link" data-action="click->basket#delete">{{ 'label.empty_basket'|trans({}, 'shop') }}</p>
{% endif %}