{# <twig:c975LShop:Basket:DeleteProductLink product="{{ product }}"/> #}
<p class="text-center delete-link" data-action="click->basket#deleteProduct" data-productId="{{ product.id }}">{{ 'label.delete'|trans({}, 'shop') }}</p>