{# <twig:c975LShop:Basket:DigitalItems basket="{{ basket }}"/> #}
{% trans_default_domain 'shop' %}
{% if basket.digital != 3 %}
    <p class="text text-center lead">{{ 'label.digital_items'|trans }}</p>
    <p class="text text-center">{{ 'label.basket_download'|trans }}</p>
{% endif %}
