{# <twig:c975LShop:Basket:Download/> #}
{% trans_default_domain 'shop' %}
{% for id, link in downloadLinks %}
    <p><a href="{{ url('shop_download', {'token': link.token}) }}">{{ 'label.download'|trans }} {{ link.title }} ({{ (link.size / (1024 * 1024))|number_format(2) }} MB)</a></p>
{% endfor %}