{# <twig:c975LShop:Basket:ProductAddRemoveButtons product="{{ product }}"/> #}
<div class="quantity-controls">
    <twig:c975LShop:Basket:ProductDeleteButton product="{{ product }}"/>
    <twig:c975LShop:Basket:ProductRemoveOneButton product="{{ product }}"/>
    <twig:c975LShop:Basket:ProductAddOneButton product="{{ product }}"/>
</div>
