{# <twig:c975LShop:Basket:ValidatedInfos/> #}
<p class="text text-center lead">{{ 'label.thanks_shopping'|trans }}</p>
<p class="text text-center">{{ 'label.follow_up'|trans }}</p>
<p class="text text-center">{{ 'label.confirmation_email_sent'|trans }}</p>