{% if lotteries is not empty %}
    <div id="lotteries">
        {% for lottery in lotteries %}
            <twig:c975LShop:Lottery:Lottery lottery="{{ lottery }}"/>
        {% endfor %}
    </div>
{% endif %}
