{% if is_granted('ROLE_ADMIN') %}
    <div class="lottery-drum" data-lottery-target="drum">
        <div id="ticket-placeholder" class="ticket-number not-drawn" data-lottery-target="ticketPlaceholder">XX-0000-YYY</div>
    </div>
    <p class="text text-center"><strong>{{ 'label.tickets_used'|trans({}, 'shop') }}</strong></p>
{% endif %}