{% extends 'layout.html.twig' %}

{# Defines specific variables #}
{% set title = product.title %}
{% set ogImage = absolute_url(asset('products/' ~ product.medias[0].name)) %}
{% set pageDescription = product.description %}

{% block content %}
    <section class="text-center">
        <twig:c975LSite:Slider:Slider slides="{{ product.getProductMediasNames() }}" id="slider"/>
        <twig:c975LShop:Product:Description description="{{ product.description }}"/>
        <twig:c975LShop:Product:Price product="{{ product }}"/>
        <div data-controller="basket">
            <twig:c975LShop:Basket:Message/>
            <twig:c975LShop:Basket:AddButton product="{{ product }}"/>
            <twig:c975LShop:Basket:ViewButton icon="true" type="secondary" class="black"/>
        </div>
        <twig:c975LShop:Basket:ContinueShoppingButton/>
    </section>
{% endblock %}
