{% extends 'layout.html.twig' %}
{% trans_default_domain 'shop' %}

{# Defines specific variables #}
{% set title = 'label.shop'|trans %}
{% set description = 'label.all_our_products'|trans %}

{% block content %}
    <div data-controller="basket">
        <p class="text text-center lead">{{ 'label.all_our_products'|trans({}, 'shop') }}</p>
        <twig:c975LShop:Basket:Message/>
        <twig:c975LShop:Product:Products products="{{ products }}"/>
        <twig:c975LShop:Basket:ViewButton icon="true" type="secondary" class="black"/>
    </div>
{% endblock %}