{% extends 'layout.html.twig' %}
{% trans_default_domain 'shop' %}

{# Defines specific variables #}
{% set title = 'label.shop'|trans %}
{% set description = 'label.all_our_items'|trans %}

{% block content %}
    <twig:c975LShop:Shop:TestMode/>
    <div data-controller="basket">
        <twig:c975LShop:Shop:Shipping/>
        <twig:c975LShop:Shop:Information/>
        <twig:c975LShop:Product:Products products="{{ products }}"/>
        <twig:c975LSite:Pagination:Pagination paginate="{{ products }}"/>
        <twig:c975LShop:Shop:NavbarBasket/>
        <twig:c975LShop:Basket:Message/>
        <twig:c975LShop:Shop:Footer/>
    </div>
{% endblock %}