<twig:c975LSite:Card:Card id="contributor-{{ contributor.id }}" title="{{ contributor.name }}" class="product-contributor">
    <div class="card-data">
        <p>{{ contributor.name }}</p>
        <p>{{ contributor.message }}</p>
    </div>
</twig:c975LSite:Card:Card>