<section id="contributors">
    <h2>{{ 'label.contributors'|trans({}, 'shop') }}</h2>
    <p class="text text-center">{{ 'label.only_those_left_message'|trans({}, 'shop') }}</p>
    {% if contributors is not empty %}
        <div class="cards">
            {% for contributor in contributors %}
                <twig:c975LShop:Crowdfunding:Contributor contributor="{{ contributor }}"/>
            {% endfor %}
        </div>
    {% else %}
        <p class="text text-center">{{ 'label.no_contributor'|trans({}, 'shop') }}</p>
    {% endif %}
</section>