{% set now = date() %}
{% set diff = date(endDate).diff(now) %}
{% set daysLeft = diff.days %}

<p>{{ endDate|date('d/m/Y') }}</p>
{% if daysLeft > 0 %}
    <p>{{ 'label.days_left'|trans }}: <strong>{{ daysLeft }}</strong></p>
{% else %}
    <p>{{ 'label.crowdfunding_ended'|trans }}</p>
{% endif %}