<twig:c975LSite:Card:Card id="news-{{ news.id }}" title="{{ news.title }}" class="crowdfunding-news">
    <div class="card-data">
        <p>{{ news.publishedDate|date('d/m/Y') }}</p>
        <p>{{ news.content|raw }}</p>
    </div>
</twig:c975LSite:Card:Card>