<h1>Vos achats numériques sont disponibles</h1>

<p>Bonjour,</p>

<p>Merci pour votre achat. Vos fichiers sont maintenant disponibles au téléchargement pendant {{ expirationDays }} jours.</p>

<ul>
{% for id, link in downloadLinks %}
    <li>
        <a href="{{ url('shop_download', {'token': link.token}) }}">
            Télécharger {{ link.title }}
        </a>
    </li>
{% endfor %}
</ul>

<p>Cordialement,<br>L'équipe de vente</p>