{% extends "@c975LEmail/emails/layout.html.twig" %}
{% trans_default_domain 'shop' %}

{% block email_content %}
    <twig:c975LShop:Basket:Thanks/>
    <twig:c975LShop:Basket:Number number="{{ basket.number }}"/>
    <twig:c975LShop:Basket:ProductItemsReminder/>
    <twig:c975LShop:Basket:ProductItems basket="{{ basket }}" type="simple" readonly="true"/>
    {# Contains digital items #}
    {% if basket.digital != 3 %}
        <p class="text text-center"><strong>{{ 'label.basket_download'|trans }}</strong></p>
    {% endif %}
    {# Contains physical items #}
    {% if basket.digital != 1 %}
        <twig:c975LShop:Basket:Deliver basket="{{ basket }}"/>
    {% endif %}
{% endblock %}