{% extends 'layout.html.twig' %}
{% trans_default_domain 'shop' %}

{# Defines specific variables #}
{% set title = 'label.basket'|trans %}
{% set description = 'label.basket'|trans %}

{% block content %}
    <div data-controller="basket" id="basket-page">
        <twig:c975LShop:Basket:Display basket="{{ basket }}"/>
        <twig:c975LShop:Basket:Message/>
        <twig:c975LShop:Basket:Buttons basket="{{ basket }}"/>
        <twig:c975LShop:Basket:Validation basket="{{ basket }}" form="{{ form }}"/>
    </div>
{% endblock %}

{% block share %}
{% endblock %}