{% extends 'layout.html.twig' %}
{% trans_default_domain 'shop' %}

{# Defines specific variables #}
{% set title = 'label.basket_empty'|trans %}
{% set description = 'label.basket_empty'|trans %}

{% block content %}
    <p class="text text-center lead">{{ 'label.basket_empty'|trans({}, 'shop') }}</p>
    <twig:c975LShop:Shop:ViewButton/>
{% endblock %}
